body {
    background: linear-gradient(135deg, #e0eafc 0%, #cfdef3 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Nexa';
    src: url('font/Nexa-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('font/Nexa-Heavy.ttf') format('truetype');
    font-weight: 900; 
    font-style: normal;
}



h1 {
    text-align: center;
    font-family: 'Nexa',sans-serif; 
    color: #5f259f; 
    margin-top: 40px;
    margin-bottom: 30px;
}


form {
    background: #fff;
    max-width: 500px;
    margin: 30px auto;
    padding: 30px 25px 20px 25px;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(44, 62, 80, 0.08);
    box-sizing: border-box; 
    width: 90%; 
}

label {
    display: block;
    margin-bottom: 8px;
    color: #34495e;
    font-weight: 500;
}

select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #bfc9d3;
    border-radius: 8px;
    background: #f7fafd;
    font-size: 16px;
    margin-bottom: 18px;
    transition: border-color 0.2s;
}

select:focus {
    border-color: #5f259f; 
    outline: none;
}

p {
    color: #2d3a4a;
    font-size: 17px;
    margin-bottom: 10px;
}

input[type="date"] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #bfc9d3;
    border-radius: 8px;
    background: #f7fafd;
    font-size: 16px;
    margin-bottom: 18px;
    transition: border-color 0.2s;
    color: #34495e;
}

input[type="date"]:focus {
    border-color: #5f259f;
    outline: none;
}

.button {
    text-align: center;
    margin-top: 20px;
}

button[type="button"] {
    background: #5f259f; 
    color: #fff;
    border: none;
    padding: 10px 32px;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
    transition: background 0.2s;
}

button[type="button"]:hover {
    background: #4e1e80; 
}

#retryBtn {
    display: block;
    margin: 20px auto 0 auto;
    background: #5f259f;
    color: #fff;
    border: none;
    padding: 10px 32px;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
    transition: background 0.2s;
}

#retryBtn:hover {
    background: #4e1e80;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    form {
        margin: 20px auto;
        padding: 20px;
        border-radius: 12px;
        width: 98%;
    }

    h1 {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p, label, select, button[type="button"] {
        font-size: 15px;
    }

    button[type="button"] {
        width: 100%;
        padding: 12px;
    }
}

.nom-nexa {
    font-family: 'Nexa', sans-serif;
    font-weight: 900;
}

